name: build

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  build:
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure
      run: cmake -B build

    - name: Build
      run: cmake --build build